--- 
:themes: 
- :control: control
  :checksum: 53b6b58facdfab778fd44199d3b4e35d
  :version: 1.0
  :name: panel:basic
- :control: control
  :checksum: 40c1c33e29eb9368b2841549f23de10e
  :version: 1.0
  :name: tabpanel:box
- :control: control
  :checksum: 3be8d884e03eebc5c141fba531f9595d
  :version: 1.0
  :name: panel:white
- :control: control
  :checksum: cb752cea7fd9303241d95ac511612f06
  :version: 1.0
  :name: button:white_gradient
- :control: control
  :checksum: 46cf5ab9422b14fbc7b0771ea5ffb304
  :version: 1.0
  :name: button:lightblue_gradient
- :control: control
  :checksum: aa2df228b813869456ede51ae9eedd07
  :version: 1.0
  :name: panel:lightgrey
- :control: control
  :checksum: e73ce234610371e06069123c73124ec2
  :version: 1.0
  :name: textarea:thinblue
- :control: control
  :checksum: 4ffd932e03058286b2a0eec3c002e69b
  :version: 1.0
  :name: tabpanel:green
- :control: control
  :checksum: 33bd4d52e42ce710d1f229e6762d923c
  :version: 1.0
  :name: tabpanel:minimal
- :control: control
  :checksum: 8ce8703bfb8f7698d35926d0a06ae4a0
  :version: 1.0
  :name: button:iphone_red
- :control: control
  :checksum: 02d31efc5c7808c4a8218bb0b33e0e77
  :version: 1.0
  :name: shadow:curved
- :control: control
  :checksum: 92a4c170a3334cc9290805a1fa8a0bbc
  :version: 1.0
  :name: input:thinline
- :control: control
  :checksum: 9714b035434e084fb73b5c9b905ef8e4
  :version: 1.0
  :name: tabpanel:basic
- :control: control
  :checksum: 5f6b0a9908b456c9ca77882a474756e2
  :version: 1.0
  :name: button:thinblue
- :control: control
  :checksum: 6ddf364e39c953e99d9ef316fd9b5d3b
  :version: 1.1
  :name: select:thinline
- :control: control
  :checksum: 4ba026d0e74f9d8c5a74e20dd482d3f8
  :version: 1.0
  :name: tabpanel:gradient_stacked
- :control: control
  :checksum: 27257390afcc773d9e1bbae5076542c8
  :version: 1.1
  :name: input:rounded_search
- :control: behavior
  :checksum: 74b713f0a9f734b9588461c5d654c20d
  :version: 1.0
  :name: shadow:basic
- :control: control
  :checksum: b088c49044d2283e2dffd377de59f5b4
  :version: 1.0
  :name: accordion:fixed_gradient
- :control: control
  :checksum: c8513fdf34524ccdf9336bd86e68d909
  :version: 1.0
  :name: panel:aqua
- :control: layout
  :checksum: 46d1d23886da5a9381078742ad935a32
  :version: 1.0
  :name: vertical:form
- :control: control
  :checksum: 6870438796c2c7bb366c7eb73f59e183
  :version: 1.0
  :name: panel:dark
- :control: control
  :checksum: 40af1c31da76c93a2d0256bfe82ab3d0
  :version: 1.1
  :name: tabpanel:green_arrow
- :control: control
  :checksum: ebf49a97d58b095e7117308f7829dc1a
  :version: 1.0
  :name: accordion:aqua_grey
- :control: control
  :checksum: 6fdd6f652cec292dac1158feb52e3d54
  :version: 1.0
  :name: button:iphone_green
- :control: control
  :checksum: 48ab330d2eae522621f9a5da9f406ab9
  :version: 1.0
  :name: accordion:bluegrey_gradient
- :control: control
  :checksum: b81cb4290ae664eb361c760cdf9340bf
  :version: 1.1
  :name: select:white_gradient
- :control: control
  :checksum: 9e5af80f506967acb5583eb76e9100f3
  :version: 1.0
  :name: textarea:white_gradient
- :control: control
  :checksum: 2567bb840850e61c61b4e7f154e0ac5e
  :version: 1.0
  :name: button:aqua_grey
- :control: control
  :checksum: 8090e50400197f84a55e88a4ce421fad
  :version: 1.0
  :name: panel:xp
- :control: control
  :checksum: 9c973bd2e7144013144f90caaec5ef7f
  :version: 1.0
  :name: button:aqua_blue
- :control: control
  :checksum: f749f8857a7f3c32f2332a60b121af4e
  :version: 1.0
  :name: textarea:thinline
- :control: control
  :checksum: 2f4b823d4b1f3b2ade5ad9575375051e
  :version: 1.0
  :name: input:white_gradient
- :control: control
  :checksum: 6806e102804e15827dcdf4c336a3d42d
  :version: 1.0
  :name: accordion:basic
- :control: control
  :checksum: 787bb7c1156dc7780d5afcfa5eb0eb78
  :version: 1.0
  :name: tabpanel:simple_stacked
- :control: control
  :checksum: d8115ce070d44ee8a11bc0214dcd84c7
  :version: 1.1
  :name: select:thinblue
- :control: layout
  :checksum: 6b67ba89a5ac5b8e827cbe79a755911f
  :version: 1.0
  :name: horizontal:form
- :control: control
  :checksum: 4f4b3698d47427f524a5dc054c505a40
  :version: 1.0
  :name: button:iphone_grey
- :control: control
  :checksum: 0d9cdb46e94ead17cc7329c03da26370
  :version: 1.0
  :name: tabpanel:white
- :control: control
  :checksum: eebc5488eb0cab9a151443829e9ef332
  :version: 1.0
  :name: input:thinblue
- :control: control
  :checksum: 8e7c75b56cd7b19b48eb82dd3d887257
  :version: 1.0
  :name: panel:lightblue
:service_version: 2.3.0
:controls: 
- :checksum: 879944c688cba1d16f8c3943a38da3b0
  :version: 1.0
  :name: panel
- :checksum: f5c1fc06371968935b8e4b346b122994
  :version: 1.2
  :name: button
- :checksum: 8d51049345a40c84408f25ea1ce33a20
  :version: 1.0
  :name: input
- :checksum: 5500c6e1efceae04c0aebc030e3f991c
  :version: 1.0
  :name: iterator
- :checksum: 5d70080ad8fcb4979ca28c6604fbe755
  :version: 1.0
  :name: tabpanel
- :checksum: d553382f4bc86fa956dab4fd7240209f
  :version: 1.0
  :name: accordion
- :checksum: a08d0f7f63a0323a9256db756cee0890
  :version: 1.2
  :name: select
- :checksum: 9cba1d833e5e63df4f86bea92fa64eea
  :version: 1.0
  :name: textarea
:widgets: 
- :checksum: 7247a772420d46f651b733433ddf6dad
  :version: 1.0.5
  :name: app:calendar
- :checksum: ec2da89427110c4ff585443070a975db
  :version: 1.1.1
  :name: app:chart
- :checksum: f2bd40906472de5f2f2718c789a7490b
  :version: 1.0.2
  :name: app:content
- :checksum: b3fd2c4004a4ffd0005fc75cbe611325
  :version: 1.2.3
  :name: app:datatable
- :checksum: fb131ae7d3b7975fa08c2e9d16c30898
  :version: 1.0.2
  :name: app:editinplace
- :checksum: 6992e43590e2cb28b2a1d8b8b8280b4c
  :version: 1.0.1
  :name: app:folder
- :checksum: 3b44979a8946b3f492612a964fe70677
  :version: 1.0.2
  :name: app:http
- :checksum: 56225b2e0e8f3c2b331073feae680945
  :version: 1.0
  :name: app:if
- :checksum: 71e20d7df7f94c76a7feae70001f339c
  :version: 1.0.4
  :name: app:iterator
- :checksum: 091a07a80af625aa647f36ccf848d6d1
  :version: 1.0.2
  :name: app:message
- :checksum: 279a1037e708af19d27e55789dff40b6
  :version: 1.0.1
  :name: app:script
- :checksum: 3f43e3975155aa12a93061d7ce831431
  :version: 1.0
  :name: app:statemachine
- :checksum: 04cb1319e92b6847dd05dfd8fc046ba7
  :version: 1.0
  :name: app:upload
:service: spring
:behaviors: 
- :checksum: 5b6a72f68697c364cc9aa8915f3fee12
  :version: 1.0
  :name: resizable
- :checksum: 23a054ee4a97b1a1be7f2fbe43ae20a4
  :version: 1.0
  :name: rounded
- :checksum: 6e496ea58b105c7913063641d3b55743
  :version: 1.1
  :name: shadow
- :checksum: 08b0d1ca6ae3cf8d9a463331d69c8632
  :version: 1.0
  :name: tooltip
- :checksum: 9bd3c3c3d52781d3493667a94b110bd1
  :version: 1.0
  :name: reflection
- :checksum: 21f782f416e4b9ed9b0711ae0dd44f4c
  :version: 1.1
  :name: modal
- :checksum: 6217cf891bab479dd0cd969f400e3bd5
  :version: 1.0
  :name: draggable
:websdk: 2.2.2
:paths: 
  :log: log
  :web: public
  :src_java: src/java
  :src_war: src/war
  :services: app/services
  :tmp: tmp
  :scripts: scripts
  :plugins: plugins
  :lib: lib
:name: test6
:layouts: 
- :checksum: a8491281e51602430bad70b632c3c4ef
  :version: 1.0
  :name: xy
- :checksum: d35d52bdfba9df1226f65faaa6bfd754
  :version: 1.0
  :name: horizontal
- :checksum: bc1c14ba1f2f538436f8193a1c48150d
  :version: 1.0
  :name: vertical
- :checksum: 8c20603925b8f33937e5ac80e9ba6c40
  :version: 1.0
  :name: fixedCenter
- :checksum: 031c759a963d63cc68aaca48995c8327
  :version: 1.0
  :name: border
- :checksum: 16db01c4b552734de91921c0f3dec53f
  :version: 1.1
  :name: grid
- :checksum: cf059828d1e715fd6ef86521142a2c52
  :version: 1.0
  :name: split
